<!DOCTYPE html>
<html>
  <head>
    <title>Test4talent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   <!-- Google-Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Cuprum:400,700' rel='stylesheet' type='text/css'>
  </head>

   <body>
      <div class="wrap"> 
      
         <%= react_component('Header',{ homePath: root_path(), historialPath: historial_index_path(), ciudad_Path: ciudad_index_path() }) %>
         <section class="bg-light section" id="clients">
              <div class="container">
               <div class="row text-center">
                  <div class="col-sm-12">
                    <%= yield %>
                  </div>
               </div> 
              </div>
         </section>

      </div>

      <%= react_component('Footer',{ homePath: root_path(), historialPath: historial_index_path(), ciudad_Path: ciudad_index_path() }) %>
  
  </body>
</html>